.header {
    background-color: rgba(24, 23, 51, 1);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
    /* border-bottom: 3px solid #fff; */
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.icon__barca-logo {
    width: 58px;
    height: 58px;
}

/* logo */
.imgLogo {
    display: flex;
    align-items: center;
}

.text__logo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    margin-left: 25px;
}

/* elements */
.header,
.header__navbar-elements-list,
.acc-login,
.acc-regist {
    color: #fff;
}

.header__navbar-list {
    display: flex;
    align-items: center;
}

.header__navbar-elements {
    margin: 0 5px 0 5px;
    padding: 30px 5px;
    font-weight: bold;
}

.header__navbar-elements-icon {
    font-size: 12px;
}

.header__navbar-elements-list:hover {
    opacity: 0.7;
}

/* acc */
.header__user-connect {
    display: flex;
    align-items: center;
}

.user-register {
    margin-left: 15px;
    background-color: red;
    padding: 6px 6px;
}

.user-login {
    font-weight: bold;
}

.acc-regist {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

.icon__user-options__barca-icon {
    width: 22px;
    height: 22px;
    fill: #fff;
    margin: 0 4px;
}

.select__language {
    margin-left: 25px;
    font-size: 12px;
    background-color: #ffffff1f;
    padding: 8px 8px;
    margin: 0 16px;
    border-radius: 50%;
}

.downMenu {
    text-align: justify;
    line-height: 30px;
    top: 80%;
    background-color: #154284;
    box-shadow: #154284 0 25px 25px -12px;
    border-radius: 5px;
    box-sizing: border-box;
    z-index: 1;
    position: absolute;
    padding: 15px 30px;
    border: 2px solid 154284;
    /* flex-direction: column; */
    /* display: flex; */
    visibility: hidden;
    column-count: 2;
}

.downMenu>a {
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    margin: 5px 0 5px 5px;
    padding: 5px 0 5px 0;
}

.downMenu>a:hover {
    transition: 2s ease, opacity .1s ease;
    opacity: 0.7;
}

.header__navbar-elements:hover .downMenu {
    visibility: visible;
    /* opacity: 0.7; */
    /* header__navbar-elements */
}

/* identity */
.identity__container {
    padding-top: 80px;
}
.nav__secondary {
    width: 79%;
    margin:10px 10%;
    background-color: #154284;
}
.nav__secondary span {
    color:#fff;
}
.nav__secondary span a {
    color:#fff;
}
.header__identity-secondary {
    margin: 10px 0;
    display: flex;
    justify-content: center;

}

.header__identity-secondary>li>a {
    color: #6e2b5b;
    font-size: 20px;
    font-weight: 550;
    margin: 0 5px;
    padding: 0 10px;
}

.header__identity-secondary>li>a:hover {
    color: blue;
}

.row.identity__color {
    border: 1px solid #000;
    box-shadow: 5px 5px 5px 5px red;
    margin-top: 10px;
}

.row.identity__logo {
    border: 1px solid #000;
    box-shadow: 5px 5px 5px 5px red;
    margin-top: 40px;
}

.row.identity__theAnthem {
    border: 1px solid #000;
    box-shadow: 5px 5px 5px 5px red;
    margin-top: 40px;
}

.row.identity__values {
    margin-top: 40px;
    border: 1px solid #000;
    box-shadow: 5px 5px 5px 5px red;
}

.col.l-12.theColor,
.col.l-12.thecrest,
.col.l-12.theAnthem,
.col.l-12.values {
    justify-content: center;
    display: flex;
}

.img__theColor,
.img__thecrest,
.img__theAnthem,
.img__values {
    width: 90%;
    height: 90%;
}

span.title__identity {
    padding: 5px 0 0 0;
    margin: 5px 0;
    font-size: 40px;
    font-weight: 900;
    color: #6e2b5b;
}

.col.l-12.detaik__theColor,
.col.l-12.detaik__thecrest,
.col.l-12.detaik__theAnthem {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.col.l-12.detaik__theAnthem,
.col.l-12.detaik__values {
    margin-bottom: -20px;
    flex-direction: column;
    align-items: center;
}

span.contents__theColor,
span.contents__thecrest,
span.contents__theAnthem,
.detail__elm {
    font-weight: 550;
    font-size: 20px;
    display: block;
    width: 70%;
    margin-bottom: 15px;
}

.embeddable-button {
    text-align: center;
    padding-bottom: 3.2rem;
}

.button {
    min-width: 10rem;
    position: relative;
    display: inline-block;
    padding: 0 1.6rem;
    line-height: 3.2rem;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #fff;
    box-shadow: 0 0.2rem 0.6rem 0.1rem rgba(0, 0, 0, .2);
    font-size: 1.2rem;
    font-family: fcb-bold, Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    will-change: transform;
    transform: translateY(0);
    cursor: pointer;
    pointer-events: all;
    transition: color .2s ease, box-shadow .2s ease, transform .2s ease;
}

.button:before {
    background: linear-gradient(270deg, #154284, #cd122d);
}

.button:after,
.button:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0.3rem;
    z-index: -1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.col.l-12.values {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__values {
    display: flex;

    /* text-align: center; */
}

.span.detail__value {
    font-size: 20px;
    opacity: 0.7;
}

.col.l-12.detaik__values {
    margin: 10px 0;
    display: flex;
    text-align: justify;
}

.title__values {
    font-size: 15px;
    font-weight: 550;
}

.detail__elm {
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 15px;
}

/* footer */
.contents__footer {
    margin-top: 40px;
}

footer {
    background: linear-gradient(90deg, #cd122d 0, #154284);
}